body{
    font-family: 'VarelaRound', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');.nav-link{
    color: #000000;
    font-size: 15px;
    font-family: 'SecularOne', sans-serif;
    font-weight: bold;
    align-items: flex-start;
}
/* GRID GALLERY */
#grid-gallery{
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
}
#grid-gallery img{
width: auto;
    height: 100%;
}
.parent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 19px;
    grid-row-gap: 19px;
    grid-auto-rows: minmax(124px, 193px);
    grid-auto-columns: minmax(175px, 688px);
    width:413px;
}
.parent2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 19px;
    grid-row-gap: 19px;
    width: 568px;
}
.parent3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 19px;
    grid-row-gap: 19px;

}
.grid-one{
    width: 442px;
}
.grid-three{
    width: 473px;
}
.parent3 .div1{
    grid-area: 1/1/4/3;}
.parent3 .div2{
    grid-area: 1/3/3/4;
}
.parent3 .div3{
    grid-area: 3/3/9/4;
}
.parent3 .div4{
    grid-area: 4/1/6/3;
}
.parent3 .div5{
    grid-area: 6/1/9/3;
}

.parent2 .div1{
    grid-area: 1/1/3/3;}
.parent2 .div2{
    grid-area: 1/3/2/4;
}
.parent2 .div3{
    grid-area: 2/3/3/4;
}
.parent2 .div4{
    grid-area: 3/1/4/2;
}
.parent2 .div5{
    grid-area: 3/2/5/4;
}
.parent2 .div6{
    grid-area: 4/1/5/2;
}
.parent .div1{
   /* grid-area: 1/1/8/2;*/
    grid-area: 1/1/7/2;
/*    background-image: url("../images/grid/row1.jpg");
    background-repeat: no-repeat;
    background-size: contain;*/

}
.parent .div2{
/*    grid-area: 1/2/3/4;*/
    grid-area: 1/2/3/4;
    background-image: url("../images/grid/row2.jpg");
}
.parent .div3{
    grid-area: 3/2/6/4;
    /*
    grid-area: 3/2/7/4;*/
    background-image: url("../images/grid/div3.jpg");
}
.parent .div4{
    grid-area: 7/1/9/2;
/*    grid-area: 8/1/10/2;*/
    background-image: url("../images/grid/div4.jpg");
}
.parent .div5{
    grid-area: 6/2/9/4;
/*    grid-area: 7/2/10/4;*/
/*    background-image: url("../images/grid/div5.jpg");*/
}
/* END GRID GALLERY */
#baner-najava{
    background-image: url(../images/rectangle.svg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 475px;
    padding-top: 45px;
    padding-bottom: 45px;
   /* text-align: left;*/

}
.banner-1-deo img{
    vertical-align: middle;
    margin-top: -10px;
}
.banner-2-deo img{

    margin-top:85px;
}
#baner-najava h2{
    font-size: 45px;
    color: white;
    font-weight: bold;
    font-family: 'SecularOne', sans-serif;
    padding-top: 145px;
}
.separator{
    width:100%;
    background-image: url(../images/path-9-copy-2.svg);
    min-height: 371px;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
#fransiza{
    padding-top:100px;
    padding-bottom: 35px;
    text-align: center;
}
#fransiza h2{
    font-weight: bold;
    font-size: 35px;
}
#fransiza a{
    color: #f650a0;
    font-family: 'VarelaRound', sans-serif;
}
.mapa-lokacije{
    background-image: url("../images/mapa.JPG");
    background-size: cover;
    background-repeat: no-repeat;
}
.linija-napomena{
    border-bottom: 1px dashed darkgrey;
    font-size: 11px;
    color: #999999;
}
.napomena{
    background-color: white;
    width: 159px;
    float: right;
    margin-top: -8px;
/*    padding-left:8px;*/
    font-family: 'VarelaRound', sans-serif;
}
.detalji{
/*    padding-right: 50px;*/
}
.detalji h3{
    font-size: 14px;
    font-family: 'SecularOne', sans-serif;
    font-weight: bold;
}
.slike{
    margin-top: 25px;
    padding-bottom: 35px;
}
  .lokacije{
    min-height: 267px;
    line-height: 20px;
    font-size: 16px;
    color: #333333;
    font-family: 'VarelaRound', sans-serif;
}
  .location{
      padding-left: 25px;

  }
  #locations{
      margin-bottom: 30px;
  }

#page-desription{
text-align: justify;
}
#page-header h1{
    font-size: 55px;
    color: #000000;
    padding-top: 12%;
    font-weight: bold;
    font-family: 'SecularOne', sans-serif;
}
.naziv-lokacije{
    margin-bottom: 10px;
    padding-top: 10px;
    margin-right: 50px;
}
#menu{
    background-color: #ffebf2;
    padding-left: 50px;
    padding-right: 50px;
    /*height:70px;*/
}
.navbar-toggler-icon{
    border: none !important;
    color: black !important;
    width: 80px;
}
.navbar-toggler-icon:after{
    border: none !important;
    color: black !important;
    width: 80px;
}
.crumbs{
    font-size: 12px;
    font-family: 'VarelaRound', sans-serif;
}
@media(min-width: 992px)
{
    .navbar-expand-lg{
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}
@media (min-width: 576px) {

}


@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}